<!DOCTYPE html>
<html>
  <head>
    <title>메인</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> 메인 </h1>
    <br>
    <br>
    <button type="button" onclick="location.href='/signIn'">
      로그인
    </button>
    <button type="button" onclick="location.href='/signUp'">
      회원가입
    </button>
  </body>
</html>
