<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>My NodeJS <%= title %></p>
    <br>
    <br>

    <form action="/" method="post">
      name : <input type="text" name="name"><br>
      phone number : <input type="text" name="pn"><br>
      <input type="submit">
    </form>

  </body>
</html>
