<!DOCTYPE html>
<html>
  <head>
    <title>실패</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> 회원가입 실패 </h1>
    이미 존재하는 아이디입니다.
    <br><br>
    <button type="button" onclick="location.href='/'">
      메인으로
    </button>
  </body>
</html>