<!DOCTYPE html>
<html>
  <head>
    <title>실패</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> 로그인 실패 </h1>
    아이디 혹은 비밀번호를 확인해주세요.
    <br><br>
    <button type="button" onclick="location.href='/'">
      메인으로
    </button>
  </body>
</html>