<!DOCTYPE html>
<html>

<head>
  <title>회원가입</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> 회원가입 </h1>
  <form action="/users/signup" method="post">
    <table>
      <tr>
        <td>Name : </td>
        <td><input type="text" name="name"></td>
      </tr>
      <tr>
        <td>ID : </td>
        <td><input type="text" name="id"></td>
      </tr>
      <tr>
        <td>PW : </td>
        <td><input type="password" name="pw"></td>
      </tr>
      <tr>
        <td><input type="submit" value="회원가입"></td>
      </tr>
    </table>
  </form>
  <button type="button" onclick="location.href='/'">
    메인으로
  </button>
</body>

</html>