<!DOCTYPE html>
<html>
  <head>
    <title>대기방</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> 대기방 </h1>
    <button type="button" onclick="location.href='/'">
        로그아웃
    </button>
    <br>
    <br>
    <ul id="messages" type="none">
      <li id="userCount"></li>
    </ul>
    <br>
    <br>

    <script>
      var io = require('socket.io')
      var socket = io();
      socket.on('userCount', (count) => {
        var userCounter = document.getElementById('userCount');
        userCounter.innerHTML = "유저 수 : " + count;
      })
    </script>

  </body>
</html>
