<!DOCTYPE html>
<html>

<head>
  <title>대기방</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> 대기방 </h1>
  <h2>이름 : <%= user.NAME %>
  </h2>
  <button type="button" onclick="location.href='/'">
    로그아웃
  </button>

  <br>
  <br>
  <br>
  <br>
  <br>

  <form id="msgForm">
    <input id="msgInput" autocomplete="off" type="text">
    <button type="submit">전송</button>
  </form>

  <ul id="messages" type="none">
    <h2>
      <li id="userCount"></li>
    </h2>
  </ul>

  <ul id="visitors" type="none">
    <h1>방문자</h1>
    <h2>
      <li id="visitor"></li>
    </h2>
  </ul>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    var msgform = document.getElementById('msgForm');
    socket.on('userCount', (count) => {
      var userCounter = document.getElementById('userCount');
      userCounter.innerHTML = "유저 수 : " + count;
    })
    socket.on('message', (msg) => {
      var messageList = document.getElementById('messages');
      var messageTag = document.createElement("li");
      messageTag.innerText = msg;
      messageList.appendChild(messageTag);
    });
    socket.on('addVisitor', (visit) => {
      var visitorList = document.getElementById('visitors');
      var visitorTag = document.createElement("li");
      visitorTag.innerText = visit;
      visitorList.appendChild(visitorTag);
    });

    msgform.onsubmit = (e) => {
      e.preventDefault();
      var msginput = document.getElementById('msgInput');

      socket.emit('message', "<%= user.NAME %> : " + msginput.value);

      msginput.value = "";
    };

    socket.emit('addVisitor', "<%= user.NAME %> ");
  </script>

</body>

</html>