<!DOCTYPE html>
<html>
  <head>
    <title>대기방</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> 대기방 </h1>
    <button type="button" onclick="location.href='/'">
        로그아웃
    </button>
    <br>
    <br>
    Name : <%= user.NAME %>
    <br>
    <br>


  </body>
</html>
